{
    "token":"token for main NBABot",
    "token2": "token for live-channel-updater",
    "clientId": "client ID for main NBABot",
    "clientId2": "client ID for live channel updater",
    "databaseUsername": "database username",
    "databasePassword": "database password",
    "databaseName": "database name",
    "dbl": "token for DBL (top.gg)",
    "dblAuth": "auth for DBL (top.gg)",
    "transactionChannel": "...",
    "scoreChannel": "...",
    "newsChannel": "...",
    "playerNewsChannel": "...",
    "standingsChannel": "...",
    "injuryChannels": {
        "ALL": "...",
        "ATL": "...",
        "BOS": "...",
        "BKN": "...",
        "CHA": "...",
        "CHI": "...",
        "CLE": "...",
        "DAL": "...",
        "DEN": "...",
        "DET": "...",
        "GSW": "...",
        "HOU": "...",
        "IND": "...",
        "LAC": "...",
        "LAL": "...",
        "MEM": "...",
        "MIA": "...",
        "MIL": "...",
        "MIN": "...",
        "NOP": "...",
        "NYK": "...",
        "OKC": "...",
        "ORL": "...",
        "PHI": "...",
        "PHX": "...",
        "POR": "...",
        "SAC": "...",
        "SAS": "...",
        "TOR": "...",
        "UTA": "...",
        "WAS": "..."
    },
    "nbaGuild": "main",
    "adminIDs": ["..."],
    "activityText": "/help",
    "runningOriginalNBABot": true,
    "sharded": true,
    "runDatabase": true,
    "archivedAds": ["..."],
    "ads": [
        {
            "text": "Ad text (ad)",
            "link": "Ad URL",
            "image": "Ad Image URL"
        }
    ],
    "headers": {
        "Host": "stats.nba.com",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0",
        "Accept": "application/json, text/plain, */*",
        "Accept-Language": "en-US,en;q=0.5",
        "Accept-Encoding": "gzip, deflate, br",
        "x-nba-stats-origin": "stats",
        "x-nba-stats-token": "true",
        "Connection": "keep-alive",
        "Referer": "https://stats.nba.com/",
        "Pragma": "no-cache",
        "Cache-Control": "no-cache"
    },
    "commands": {
        "nba": ["scores", "boxscore", "player-stats", "player-info", "compare-players", "standings", "schedule", "roster", "team-info", "team-stats", "team-rankings", "teams", "news", "transactions", "all-time-leaders", "league-leaders", "franchise-leaders", "shotchart", "lineup-stats"],
        "betting": ["bet", "parlay", "bets", "balance", "bets", "claim", "leaderboard", "odds", "rbet", "reset-balance", "weekly", "prop"],
        "other": ["bot-stats", "help", "img-add", "img-delete", "img", "imgs", "ping", "settings", "vote", "auto-scores", "donate", "ad-free-servers"],
        "database": ["ad-free-servers", "auto-scores", "balance", "bet", "bets", "claim", "img-add", "img-delete", "img", "imgs", "leaderboard", "odds", "parlay", "prop", "rbet", "reset-balance", "settings", "weekly"]
    }
}
